.edit {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: #EDEFF4;
  }
  &:active{
    background-color: #D9DDE8;
  }
}

.icon {
  color: #586380;
}